.App {
  margin: 16px;
}


.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 16px;
}



.App-logo {
  pointer-events: none;
  max-height: 45px;
}
